<p>writer works!</p>
@if(allWriters.length>0){
  <table>
  <tr>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Awards</th>
    <th>birthday</th>
    <th>Birthday2</th>
  </tr>
  @for(writer of allWriters; track writer.firstname){
    <tr [class.color]="writer.awards>10">
      <td>{{writer.firstname}} </td>
      <td>{{writer.lastname}} </td>
      <td>{{writer.awards}}</td>
      <td>{{writer.birthday.getFullYear()}} - {{writer.birthday.getMonth()+1}}</td>
      <td>{{writer.birthday | date: 'longDate'}}</td>
    </tr>
  }
  </table>
  <button (click)="sortByAwards()">Sort awards</button>
  <button (click)="sortByBirthday()">Sort birthday</button>
}
@else {
  <p>Greska</p>
}



